body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}
#top-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.text  {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.green-background {
    background-color: green;
    height: 5vh;
    flex-grow: 1;
}
.yellow-background {
    background-color: yellow;
    height: 5vh;
    flex-grow: 2;
}
.pink-background {
    background-color: fuchsia;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    align-items: center;
}
.blue-background {
    background-color: blue;
    height: 20vh;
    width: 50vw;
}
.red-background {
    background-color: red;
    height: 10vh;
    width: 25vw;
}
.lightgreen-background {
    background-color: lightgreen;
    height: 10vh;
    width: 25vw;
}
.purple-background {
    background-color: purple;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}