* {

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.imagem1 {
    max-width: 20%;
    height: auto;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.imagem2 {
    width: 40%;
    height: auto;
    display: block;
    margin-left: 30%;
    margin-bottom: 0;
    padding-bottom: 0;
}